<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrashyPlane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02F184D21D89957A000E9B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F184EC1D89957A000E9B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F184F71D89957A000E9B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
